includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - resources/views/
    
    # Nivel de rigurosidad del 0 al 9
    level: 5

    treatPhpDocTypesAsCertain: false

    # Ignora errores de Flux
    excludePaths:
        - resources/views/flux/*
        - resources/views/vendor/*
        - resources/views/livewire/settings/*
        - app/Livewire/Actions/*

    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given#'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics